exercicio1-soap/src/br/ufpe/cin/CalculadoraPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://cin.ufpe.br/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cin.ufpe.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cin.ufpe.br/" schemaLocation="CalculadoraPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="subtrair">
    <part name="parameters" element="tns:subtrair"/>
  </message>
  <message name="subtrairResponse">
    <part name="parameters" element="tns:subtrairResponse"/>
  </message>
  <message name="dividir">
    <part name="parameters" element="tns:dividir"/>
  </message>
  <message name="dividirResponse">
    <part name="parameters" element="tns:dividirResponse"/>
  </message>
  <message name="multiplicar">
    <part name="parameters" element="tns:multiplicar"/>
  </message>
  <message name="multiplicarResponse">
    <part name="parameters" element="tns:multiplicarResponse"/>
  </message>
  <portType name="Calculadora">
    <operation name="subtrair">
      <input ns1:Action="http://cin.ufpe.br/Calculadora/subtrairRequest" message="tns:subtrair" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://cin.ufpe.br/Calculadora/subtrairResponse" message="tns:subtrairResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="dividir">
      <input ns3:Action="http://cin.ufpe.br/Calculadora/dividirRequest" message="tns:dividir" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://cin.ufpe.br/Calculadora/dividirResponse" message="tns:dividirResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="multiplicar">
      <input ns5:Action="http://cin.ufpe.br/Calculadora/multiplicarRequest" message="tns:multiplicar" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://cin.ufpe.br/Calculadora/multiplicarResponse" message="tns:multiplicarResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

