exercicio1-soap-client/src/br/ufpe/cin/Calculadora1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cin.ufpe.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cin.ufpe.br/" name="CalculadoraService">
<types>
<xsd:schema>
<xsd:import namespace="http://cin.ufpe.br/" schemaLocation="http://localhost:8080/MeuWS/Calculadora?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="subtrair">
<part name="parameters" element="tns:subtrair"></part>
</message>
<message name="subtrairResponse">
<part name="parameters" element="tns:subtrairResponse"></part>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"></part>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"></part>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"></part>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"></part>
</message>
<portType name="Calculadora">
<operation name="subtrair">
<input wsam:Action="http://cin.ufpe.br/Calculadora/subtrairRequest" message="tns:subtrair"></input>
<output wsam:Action="http://cin.ufpe.br/Calculadora/subtrairResponse" message="tns:subtrairResponse"></output>
</operation>
<operation name="dividir">
<input wsam:Action="http://cin.ufpe.br/Calculadora/dividirRequest" message="tns:dividir"></input>
<output wsam:Action="http://cin.ufpe.br/Calculadora/dividirResponse" message="tns:dividirResponse"></output>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://cin.ufpe.br/Calculadora/multiplicarRequest" message="tns:multiplicar"></input>
<output wsam:Action="http://cin.ufpe.br/Calculadora/multiplicarResponse" message="tns:multiplicarResponse"></output>
</operation>
</portType>
<binding name="CalculadoraPortBinding" type="tns:Calculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="subtrair">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadoraService">
<port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
<soap:address location="http://localhost:8080/MeuWS/Calculadora"></soap:address>
</port>
</service>
</definitions>