tabela-fipe/src/main/kotlin/br/ufpe/cin/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cin.ufpe.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cin.ufpe.br/" name="FIPEServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://cin.ufpe.br/" schemaLocation="http://localhost:8080/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="brands">
<part name="parameters" element="tns:brands"></part>
</message>
<message name="brandsResponse">
<part name="parameters" element="tns:brandsResponse"></part>
</message>
<message name="carsByBrand">
<part name="parameters" element="tns:carsByBrand"></part>
</message>
<message name="carsByBrandResponse">
<part name="parameters" element="tns:carsByBrandResponse"></part>
</message>
<message name="carPrices">
<part name="parameters" element="tns:carPrices"></part>
</message>
<message name="carPricesResponse">
<part name="parameters" element="tns:carPricesResponse"></part>
</message>
<portType name="FIPEServer">
<operation name="brands">
<input wsam:Action="http://cin.ufpe.br/FIPEServer/brandsRequest" message="tns:brands"></input>
<output wsam:Action="http://cin.ufpe.br/FIPEServer/brandsResponse" message="tns:brandsResponse"></output>
</operation>
<operation name="carsByBrand">
<input wsam:Action="http://cin.ufpe.br/FIPEServer/carsByBrandRequest" message="tns:carsByBrand"></input>
<output wsam:Action="http://cin.ufpe.br/FIPEServer/carsByBrandResponse" message="tns:carsByBrandResponse"></output>
</operation>
<operation name="carPrices">
<input wsam:Action="http://cin.ufpe.br/FIPEServer/carPricesRequest" message="tns:carPrices"></input>
<output wsam:Action="http://cin.ufpe.br/FIPEServer/carPricesResponse" message="tns:carPricesResponse"></output>
</operation>
</portType>
<binding name="FIPEServerPortBinding" type="tns:FIPEServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="brands">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="carsByBrand">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="carPrices">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FIPEServerService">
<port name="FIPEServerPort" binding="tns:FIPEServerPortBinding">
<soap:address location="http://localhost:8080/"></soap:address>
</port>
</service>
</definitions>